<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>14315232851-308v179cur4a34i9286o7tuav1nsk4dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14315232851-308v179cur4a34i9286o7tuav1nsk4dq</string>
	<key>API_KEY</key>
	<string>AIzaSyAFNKz4UcFyXFzSrBNMjfxuWMtH5aiOTu8</string>
	<key>GCM_SENDER_ID</key>
	<string>14315232851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SpencerCook.Buzz</string>
	<key>PROJECT_ID</key>
	<string>buzz-782e5</string>
	<key>STORAGE_BUCKET</key>
	<string>buzz-782e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:14315232851:ios:79048048602f7f10</string>
	<key>DATABASE_URL</key>
	<string>https://buzz-782e5.firebaseio.com</string>
</dict>
</plist>
